.header__lang-link {
    color: white;
    margin-bottom: 0;
    margin-top: 46px;
    margin-right: 0;
    margin-left: auto;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    text-decoration: none;
}

.header__lang-link:hover {
    opacity: 0.8;
}

.header__lang-link:last-child {
    margin-left: 18px;
}

@media screen and (max-width: 767px) {
    .header__lang-link {
        margin-right: 16px;
        font-size: 18px;
        line-height: 20px;
        margin-top: 30px;
    }
    .header__lang-link:last-child {
        margin-left: 0;
    }
}