.place {
    display: grid;
    grid-template-columns: 460px 1fr;
    gap: 48px 40px;
    margin-top: 0;
    margin-bottom: 80px;
}

.place:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: 440px 1fr;
        gap: 48px 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        max-width: 100%;
        grid-template-columns: 47.270% 45.8333333333333%;
        gap: 6.25% 3.6458333333333%;
        margin-bottom: 13.888888888889%;
    }
}

@media screen and (max-width: 505px) {
    .place {
        width: 93.75%;
        grid-template-columns: 1fr;
        gap: 10vw;
        margin-bottom: 15.625vw;
    }
}

@media screen and (max-width: 320px) {
    .place {
        width: 100%;
        grid-template-columns: 1fr;
        gap: 10vw;
        margin-bottom: 15.625%;
    }
}