.lead {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    max-width: 984px;
}

@media screen and (max-width: 1280px){
    .lead {
        width: 76.875vw;
    }
}

@media screen and (max-width: 1024px){
    .lead {
        width: 90.625vw;
    }
}

@media screen and (max-width: 768px){
    .lead {
        max-width: 100%;
        width: 100vw;
    }
}
