.lead__image {
    max-width: 984px;
    height: 615px;
    margin-top: 64px;
    margin-bottom: 0;
    align-self: center;
}

@media screen and (max-width: 1279px) {
    .lead__image {
        width: 77vw;
        height: 100%;
        margin-top: 56px;
    }
}

@media screen and (max-width: 1024px) {
    .lead__image {
        width: 90.6vw;
    }
}

@media screen and (max-width: 768px) {
    .lead__image {
        max-width: 100%;
        width: 100vw;
    }
}

@media screen and (max-width: 320px) {
    .lead__image {
        margin-top: 40px;
    }
}