.lead__subtitle {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 0;
    margin-top: 0;
    max-width: 640px;
    align-self: center;
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        max-width: 93.75vw;
        font-size: 4.5vw;
        line-height: 6.25vw;
    }
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        max-width: 288px;
        font-size: 16px;
        line-height: 20px;
    }
}